Model Attr: {{model.someAttr}}<br/><br/>

Children: <br/>
{{#each model.theChildren as |child|}}
    {{child.childAttr}} : 
    {{child.anotherChildAttr}}<br/>
{{/each}}

<button {{action 'save'}}>save</button>
